<div class="home-wrapper">
    <div class="my-data">
        <div  style="height: 50%;font-size: 1.7em;">My trainings</div>
        <div class="flex justify space-bw" style="height: 50%;align-items: flex-end;">
            <div>
                <div class="textCenter" style="border-bottom: 1px solid grey;">
                    <div>Overdue</div>
                    <div>06</div>
                </div>
                <div class="flex textCenter">
                    <div class="padding5">
                        <div>Overdue</div>
                        <div>06</div>
                    </div>
                    <div class="flex align middle" style="font-size: 25px;">|</div>
                    <div class="padding5">
                        <div>Overdue</div>
                        <div>06</div>
                    </div>
                </div>
            </div>
            <div class="textCenter" style="font-size: 1.7em;">
                <div style="text-transform: uppercase;">Overdue</div>
                <div>06</div>
            </div>
        </div>
    </div>
    <div>

    </div>

</div>