.wrapper{

}
.my-container{
    width: 75vw;
    margin: 25px auto;
    padding: 27px;
    background: #fafafa;
    border-radius: 26px;
}
.working-box{

}
.row2{
    img{
        border-radius: inherit;
    }
    .part1{
        width: 100%;
        background: white;
        padding: 18px;
    }
}
.row2,.row3,.row4{
    margin: 20px 0px;
}
.row3{
    padding: 20px 10px;
    background: white;
    border-radius: 18px;
}
.row4{
    border-radius: 18px;
}