<div class="wrapper">
    <div class="my-container">
        <div class="" style="margin: 12px 0px">
            <img src="assets/screens/order1.png" alt="" srcset="" class="width100">
        </div>
        <div class="flex justify space-bw row2">
            <div style="width: 40%;border-radius: 18px;">
                <img src="assets/screens/order2_1.png" alt="" srcset="" class="part1">
            </div>
            <div style="width: 55%;border-radius: 18px;">
                <img src="assets/screens/order2_2.png" alt="" srcset="" class="width100 height100">
            </div>
        </div>
        <div class="row3">
            <img src="assets/screens/order3_1.png" alt="" srcset="" class="width100">
            <img src="assets/screens/order3_2.png" alt="" srcset="" class="width100">
            <div class="flex">
                <img src="assets/screens/part1.png" alt="" srcset="" class="cursorPointer" 
                style="width: 14%;border-radius: 30px 0px 0px 30px;"
                routerLink="../reconciliation-overdue" >
                <img src="assets/screens/part2.png" alt="" srcset="" class="cursorPointer" style="width: 86%;"
                routerLink="../reconciliation-remainder">
            </div> 
            <img src="assets/screens/order3_4.png" alt="" srcset="" class="width100">
        </div>
        <div class="row4">
            <img src="assets/screens/order4.png" alt="" srcset="" class="width100">
        </div>
    </div>
</div>