<div class="calendar-wrapper">
    <div class="header flex align middle">
        <div class="bold flex justify left" style="width: 40%;text-align: left;" *ngIf="calendarType === 'year'">
            <div style="margin: 15px;" class="cursorPointer" (click)="toggleNextPreviousYear('previous');"
            matTooltip="Previous Year"> {{ '<' }} </div>
            <div style="margin:15px;"> {{ selectedMY.year }} </div>
            <div style="margin:15px;" (click)="toggleNextPreviousYear('next')" class="cursorPointer"
            matTooltip="Next Year"> {{ '>' }} </div>
        </div>
        <div class="bold flex justify left" style="width: 40%;text-align: left;"  *ngIf="calendarType === 'month'">
            <div style="margin: 15px;" class="cursorPointer" (click)="previousMonth();"
            matTooltip="Previous Month"> {{ '<' }} </div>
            <div style="margin:15px;"> {{ showDate }} </div>
            <div style="margin:15px;" (click)="nextMonth();" class="cursorPointer"
            matTooltip="Next Month"> {{ '>' }} </div>
        </div>

        <div style="width:60%;text-align: right;">
            <button class="rm-button-prop" [ngClass]="{'selected' : calendarType === 'year' }"
            (click)="toggleView('year')">
                Year
            </button>
            <button class="rm-button-prop" [ngClass]="{'selected' : calendarType === 'month' }"
            (click)="toggleView('month')">
                Month
            </button>
            <button class="rm-button-prop" disabled>
                Week
            </button>
        </div>
    </div>

    <table class="month-view" *ngIf="calendarType === 'month'">
        <thead class="cd-days">
            <tr>
                <th *ngFor="let day of daysList;">
                    {{day}}
                </th>
            </tr>
            <tr>
                <td class="cd-header-divider" colspan="7"></td>
            </tr>
        </thead>

        <tbody class="cd-dates">
            <tr *ngFor="let row of groupedArray;let i = index;">
                <th *ngFor="let ele of row;let j = index;"
                    [ngClass]="{'active':ele.isSelected,'disable':ele.isDisabled,'blackList':ele.isBlackList}">
                    <div>
                        <span *ngIf="ele.isDisabled">{{ ele.value }}</span>
                        <span *ngIf="!ele.isDisabled" >{{ ele.value }}</span>
                        <span style="font-size: 2em;color:white" *ngIf="ele.arrContainer.length === 0">.</span>
                        <span style="font-size: 2em;" *ngIf="ele.arrContainer.length === 1">.</span>
                        <span style="font-size: 2em;" *ngIf="ele.arrContainer.length === 2">..</span>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>

    <div class="year-view" *ngIf="calendarType === 'year'">
            <div *ngFor="let row of monthListObjs;let i = index;" class="row flex">
                <div *ngFor="let ele of row;let j = index;" class="flex align middle justify center" 
                [ngClass]="ele.category">
                        <span class="month"> {{ ele.label }} </span>
                        <span> {{ selectedMY.year }} </span>
                        <span class="noTraining"> {{ ele.noTraining }} </span>
                </div>
            </div>
    </div>
</div>