.my-data{
    width: 26vw;
    height: 15vw;
    // display: inline-block;
    border-radius: 10px;
    padding: 10px;
    background: #f9ebf7;
    font-size: 1vw;
}
.padding10{
    padding: 10px;
}
.padding5{
    padding: 5px;
}
.font120em{
    font-size: 1.2em;
}
.font150em{
    font-size: 1.5em;
}
.row1{
    img{
        width: 11vw;
        height: 8vw;
    }
}
