<div class="my-data">
    <div class="row1 flex align top justify space-bw height50 bold font120em" style="">
         My Trainings
         <img src="assets/speedo.png" alt="" srcset="">
    </div>
    <div class="flex justify space-bw height50" style="align-items: flex-end;">
        <div>
            <div class="textCenter padding5" style="border-bottom: 1px solid grey;">
                <div class="font150em">166</div>
                <div>Training this year</div>
            </div>
            <div class="flex textCenter">
                <div class="padding5">
                    <div>Completed</div>
                    <div>06</div>
                </div>
                <div class="flex align middle" style="font-size: 25px;">|</div>
                <div class="padding5">
                    <div>Incomplete</div>
                    <div>06</div>
                </div>
            </div>
        </div>
        <div class="textCenter red font150em" style="font-weight: 500;">
            <div style="text-transform: uppercase;" class="padding5">Overdue</div>
            <div>06</div>
        </div>
    </div>
</div>