<div class="headWrap row noMargin ">
    <div class="logo appName col-md-3 col-lg-3 col-sm-3 col-xs-3 noPadding flex align middle justify left" routerLink="/login">
        <img src="assets/images/logo.png" alt="Sanofi logo">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 noPadding flex align middle justify center bold appName">
        SOAR TRAINING PORTAL
        <mat-form-field id="select-user" floatLabel=never>
            <mat-label>Select User</mat-label>
            <mat-select [(ngModel)]="selectedValue" (selectionChange)="setUser($event)" >
                <mat-option *ngFor="let user of userList" [value]="user.value">
                    {{user.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="userDets col-md-3 col-lg-3 col-sm-3 col-xs-3 noPadding flex align middle justify right">
        <img src="../../assets/images/userIcons.svg" alt="" [hidden]="login">
        <img src="../../assets/images/login-icon.svg" alt="" [hidden]="!login">
        <div class="flex align middle" [hidden]="!login">
            <span style="font-size: 0.8vw; margin-left: 0.5vw;" [hidden]="!login">LOGIN</span> 
        </div>
    </div>
</div>