<div class="headWrap row noMargin ">
    <!-- <div class="logo col-md-3 col-lg-3 col-sm-3 col-xs-3 noPadding flex align middle">
        <img src="assets/images/logo.png" alt="Sanofi logo">
    </div> -->
    <div class="logo appName col-md-3 col-lg-3 col-sm-3 col-xs-3 noPadding flex align middle justify left" routerLink="/login">
        <img src="assets/images/logo.png" alt="Sanofi logo">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 noPadding flex align middle justify center bold appName">
        SOAR TRAINING PORTAL
    </div>
    <div class="userDets col-md-3 col-lg-3 col-sm-3 col-xs-3 noPadding flex align middle justify right">
        <img src="../../assets/images/userIcons.svg" alt="">
        <!-- <button mat-icon-button style="">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button style="">
            <mat-icon>notifications_active</mat-icon>
        </button>
        <button mat-icon-button style="">
            <mat-icon>perm_identity</mat-icon>
        </button> -->

    </div>
</div>