<div class="headWrap row noMargin ">
    <!-- <div class="logo col-md-3 col-lg-3 col-sm-3 col-xs-3 noPadding flex align middle">
        <img src="assets/images/logo.png" alt="Sanofi logo">
    </div> -->
    <div class="logo appName col-md-9 col-lg-9 col-sm-9 col-xs-9 noPadding flex align middle justify left">
        <img src="assets/images/logo.png" alt="Sanofi logo">
        <span>|</span>
        SOAR Training Portal
    </div>
    <div class="userDets col-md-3 col-lg-3 col-sm-3 col-xs-3 noPadding flex align middle justify right">
        <input type="text" placeholder="search..." />

        <button mat-icon-button style="">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button style="">
            <mat-icon>notifications_active</mat-icon>
        </button>
        <button mat-icon-button style="">
            <mat-icon>perm_identity</mat-icon>
        </button>

    </div>
</div>