.headWrap {
    height: 10vh;
    background: rgba(82,92,163,.95);
    padding: 0 1vw;
    color: white;
    font-size: 1.4vw;
    box-shadow: 1px 5px 5px grey;
    div {
        height: 100%;
    }
}