<div class="overdue-training">
    <div class="title padding5 bold" style="">OVERDUE Trainings</div>
    <div style="overflow: auto;height: 80%;" class="width100">
        <div class="od-row flex align middle justify center padding5" *ngFor="let row of [1,2,3,7,5,5]">
            <div class="" style="width: 40%;">Training {{ row }}  </div>
            <div class="link cursorPointer" matTooltip="Visit Training Page">link</div>
            <div class="flex align middle justify center">
                <mat-icon class="" style="font-size: 18px;padding: 3px;">account_circle</mat-icon>
                 Alex Pandi
            </div>
        </div>
    </div>

</div>