.overdue-training{
    width: 30vw;
    height: 15vw;
    // display: inline-block;
    border-radius: 10px;
    padding: 10px;
    background: #F86049;
    font-size: 1vw;
    color: white;
}
.od-row{
    // border: 1px solid black;
    border-radius: 5px;
    background: #ca4331;
    margin: 8px 0px;
    font-size: 0.8em;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link{
    padding: 0px 8px;
    border-radius: 5px;
    background: #AA2222;
    font-size: 0.7em;
}
.padding10{
    padding: 10px;
}
.padding5{
    padding: 5px;
}
.font120em{
    font-size: 1.2em;
}
.font150em{
    font-size: 1.5em;
}
.row1{
    img{
        width: 11vw;
        height: 8vw;
    }
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background: #f9ebf7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    // background: rgba(255,0,0,0.8); 
    background: #ca4331;

    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ca4331;
}