<div class="mainWrap">
    <div class="tabContainer">
        <div class="trainerViewWrap">
            <div class="headWrap flex align middle justify left">
                <div>TRAINER VIEW</div>
            </div>
            <div class="trainingContainer row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" *ngFor="let card of cards">
                    <div class="trainingCard col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="trainCardHead col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding flex align middle">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 noPadding">{{ card.name}}</div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 noPadding">
                                <img src="../../assets/images/analyticsgray.PNG" alt="" routerLink="/manager/training-analytics">
                                <img src="../../assets/images/editgray.PNG" alt="">
                            </div>
                        </div>
                        <div class="trainCardBody col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding ">
                            <div class="desc bold">{{ card.desc }}</div>
                            <div class="details">{{ card.details }}</div>
                        </div>
                        <div class="trainCardFooter col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding ">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding height100">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding flex align middle justify space-around dirColumn height100">
                                    <img src="../../assets/images/recurring.png" alt="" style="height: 2vh;">
                                    <div>Duration</div>
                                    <div>120 Minutes</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding flex align middle justify space-around dirColumn height100">
                                    <img src="../../assets/images/dashboard.PNG" alt="" style="height: 2vh;">
                                    <div>Duration</div>
                                    <div>120 Minutes</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding flex align middle height100">
                                <div class="detailView col-lg-12 col-md-12 col-sm-12 col-xs-12 height100 flex align middle justify left cursorPointer" routerLink="/manager/trainees">
                                    <img src="../../assets/images/two-users.PNG" alt="">
                                    <div>
                                        <div style="font-size: 0.8vw;">Detailed View</div>
                                        <div style="font-size: 0.7vw;">Trainees Assigned</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>