.trainings-container{
    width:100%;
    height:100%;
    display: flex;

    .training-content{
        flex:auto;
        padding: 2vw;
        .training-container{
            background-color: #fafafa;
            border-radius: 30px;
            min-height: 50vh;
            padding:3vw 4vw;

            .header-section{
                height: 7vh;
                display: flex;

                .sub-title-section{
                    width: 50%;
                    display: flex;
                    padding:0.5vw 0;

                    span{
                        font-size: 2.2vw;
                        letter-spacing: 2.5px;
                        color: #444492;
                        opacity: 1;
                        font-weight: 500;
                    }
                }

              
            }

            .training-list-section{
                margin-top:2vh;
                display: flex;
                flex-wrap: wrap;

                .training-details-card{
                    width:31%;
                    height:17vw;
                    border-radius: 5px;
                    margin-bottom: 4vh;
                    margin-right: 3.5%;
                    padding:1vw 1.5vw;
                    box-shadow: 2px 2px 4px rgba(148, 147, 147, 0.144);
                    background-color: #fff;

                    .sub-title{
                        height:2.5vw;
                        width:100%;
                        border-bottom: 1px solid #43425d1a;
                        padding-bottom: 5px;

                        .title{
                            width:75%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-end;
                            span{
                                font-size: 1vw;
                                color: #4D4F5C;
                                font-weight: 400;
                            }
                        }
                        .buttons{
                            width:25%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-start;

                            span{
                                font-size: 1.0vw;
                                color: #43425d80;
                                background-color:#43425d1c;
                                border-radius: 50%;
                                padding:0.2vw;
                                margin-left: 0.5vw;
                            }
                        }
                    }

                    .content-main{
                        height:3.0vw;
                        padding-top: 2px;
                        span{
                            font-size: 0.8vw;
                            color: #43425d80;
                            font-weight: 500;
                        }
                    }

                    .content-secondary{
                        min-height: 5.5vw;
                        max-height: 5.5vw;
                        span{
                            font-size: 0.7vw;
                            color: #43425d80;
                            line-height: 1px;

                        }
                    }

                    .button-section{
                        height:4vw;

                        .icon-sec{
                            width:50%;
                            height: 100%;
                            
                            .duration{
                                width:50%;
                                height: 100%;
                                
                                .i-con{
                                    span{
                                        font-size: 1.2vw;
                                        color: #43425d80;
                                    }
                                }
                                .i-text{
                                    width: 100%;
                                    span{
                                        font-size: 0.65vw;
                                        color: #4D4F5C;
                                    }
                                    border-bottom: 1px solid #43425d1a;
                                }
                                .duration{
                                    width: 100%;
                                    align-items: flex-start;
                                    span{
                                        font-size: 0.65vw;
                                        color: #43425d80;
                                    }
                                }
                            }
                            .training-tool{
                                width:50%;
                                height: 100%;
                            }
                        }
                        .detailed-view{
                            width:50%;
                            height: 100%;
                            padding:0.5vw 0 0.5vw 1vw;
                            .detail-button{
                                width:100%;
                                height: 100%;
                                border-radius: 2vw;
                                background-color: #F0F0F0;
                                border: none;
                                box-shadow: 0px 3px 6px #00000029;

                                .icon-sec{
                                    width:25%;
                                    height:100%;
                                    span{
                                        border-radius: 50%;
                                        border:1px solid #43425dc2;
                                        color:#43425dc2;
                                    }
                                }
                                .name-sec{
                                    width:75%;
                                    height:100%;
                                    flex-direction: column;
                                    position: relative;
                                    .upper-sec{
                                        height: 60%;
                                        width: 100%;
                                        font-size: 0.7vw;
                                        color:#43425dc2;
                                        position: absolute;
                                        top:-1vw;
                                        left:-0.3vw;
                                    }
                                    .lower-sec{
                                        height: 40%;
                                        width: 100%;
                                        font-size: 0.65vw;
                                        color:#43425dc2;
                                        position: absolute;
                                        top: -0.1vw;
                                        left:-0.1vw;
                                    }
                                }
                            }

                        }
                    }
                }
                .training-details-card:nth-child(3n+3){
                    margin-right: 0px;
                }

            }
            
              
            
        }
    }
    .empty-content{
        flex:0 0 4vw;
    }
} 


.elipsis-4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.elipsis-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.elipsis-nw{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


