.dataVerWrap{
    background: #dfc6e326;
    border-radius: 2vw;
    padding: 5vh 3vw;
    .headWrap{
        color: #444492;
        font-size: 2vw;
        margin-bottom: 3vh;
        padding-left: 2vw;
        .userIconWrap{
            margin-right: 3vw;
            .material-icons {
                font-size: 3vw;
            }
        }
    }
    .dataRow {
        height: 12vh;
        margin-bottom: 2vh;
        div {
            .key {
                color: #444492;
                font-size: 1.3vw;
                padding: 3vh 3vw;
                background: white;
                border-top-left-radius: 10vh;
                border-bottom-left-radius: 10vh;
                box-shadow: 0px 3px 6px #00000029;
                font-weight: 500;
            }
        }
        .compCellsWrap{
            border-top-right-radius: 10vh;
            border-bottom-right-radius: 10vh;
            box-shadow: 0px 3px 6px #00000029;
            div {
                .compCells {
                    font-size: 1.5vw;
                    .compValueSec {
                        font-size: 0.8vw;
                        color: #B4B4B4;
                        margin-bottom: 0.5vh;
                    }
                    .compValue {
                        background: rgba(223, 198, 227, 0.44);
                        border: 1px solid rgba(112, 112, 112, 0.44);
                        border-radius: 10vh;
                        width: 85%;
                        color: #707070;
                        padding: 1vh 0;
                        font-size: 0.9vw;
                        overflow: hidden;
                    }
                }
            }
            .tick {
                height: 3vw;
                width: 3vw;
                font-size: 3vw;
            }
        }
    }
    .contactSupport, .proceed {
        height: 8vh;
        border-radius: 10vh;
        color: white;
        padding: 0 3vw;
        margin-left: 2vh;
        width: 10vw;
        font-size: 1.1vw;
        line-height: 1.2;
        text-align: center;
        border: none;
    }
    .contactSupport {
        background: #444492;
    }
    .proceed {
        background: #4B9726;
    }
}

.row {
    margin-bottom: 1vh;
}

.cells {
    padding: 1.5vh 2vw;
    border-radius: 4px;
    font-size: 0.9vw;
    color: gray;
}

.logoHolder{
    background: #005cb9;
    color: white
}

.borderBottom {
    border-bottom: 1px solid lightgray;
    margin-bottom: 1vh;
}

.redBg {
    background: rgb(255, 150, 150);
    .cells{
        color: white;
        font-weight: 500;
    }
}

.blueBg {
    // background: #4d4dcb;
    color: #2b2b2b;
    font-weight: bold;
}

.workDayImg {
    background-image: url("../../assets/images/workday.png");
}

.modalDialog {
    width: 50vw;
}

.emailImg {
    width: 100%;
}

.modalHeader {
    font-size: 1.3vw;
    color: #a22;
    font-weight: 500;
    padding: 2vh 0;
}

.modalContainerText {
    font-size: 1.1vw;
    color: gray;
    font-weight: 500;
    line-height: 2vw;
    text-align: center;
}

.modalFooter {
    padding: 2vh 2vw;
    button {
        padding: 1.5vh 4vw;
        border: none;
        background: #56569d;
        border-radius: 10vh;
        color: white;
        font-size: 1vw;
    }
}

.modalContent {
    border-radius: 6vh;
    padding: 3vh 2vw;
}

.modalBody {
    color: gray;
}

.emailContainer {
    width: 80vw;
    height: 90vh;
}