<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Active Directory</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">iLearn</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">WorkDay</div>
    </div>

    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Active Directory</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">iLearn</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">WorkDay</div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Active Directory</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">iLearn</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">WorkDay</div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Active Directory</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">iLearn</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">WorkDay</div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Active Directory</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">iLearn</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">WorkDay</div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Active Directory</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">iLearn</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">WorkDay</div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Active Directory</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">iLearn</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">WorkDay</div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Active Directory</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">iLearn</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">WorkDay</div>
    </div>
</div>