<div class="dataVerWrap">
    <div class="row" style="margin-bottom: 5vh;">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">&nbsp;</div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells logoHolder flex align justify center middle">iLearn</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells logoHolder flex align justify center middle">WorkDay</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells logoHolder flex align justify center middle">Active Directory</div> 
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="cells blueBg col-md-2 col-lg-2 col-sm-2 col-xs-2">Name</div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Chris Parker</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Chris Parker</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Chris Parker</div> 
            </div>
        </div>
    </div>
    <div class="borderBottom"></div>
    <div class="row">
        <div class="cells blueBg col-md-2 col-lg-2 col-sm-2 col-xs-2">Business Title</div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Consultant</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Consultant</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Consultant</div> 
            </div>
        </div>
    </div>
    <div class="borderBottom"></div>
    <div class="row">
        <div class="cells blueBg col-md-2 col-lg-2 col-sm-2 col-xs-2">Employee ID</div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">e0376372</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">e0376372</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">e0376372</div> 
            </div>
        </div>
    </div>
    <div class="borderBottom"></div>
    <div class="row">
        <div class="cells blueBg col-md-2 col-lg-2 col-sm-2 col-xs-2">Email ID</div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">chris.parker@sanofi.com</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">chris.parker@sanofi.com</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">chris.parker@sanofi.com</div> 
            </div>
        </div>
    </div>
    <div class="borderBottom"></div>
    <div class="row redBg">
        <div class="cells blueBg col-md-2 col-lg-2 col-sm-2 col-xs-2">Cost Center</div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">US000065479</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">US000065479</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">US000054671</div> 
            </div>
        </div>
    </div>
    <div class="borderBottom"></div>
    <div class="row">
        <div class="cells blueBg col-md-2 col-lg-2 col-sm-2 col-xs-2">Department</div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">IT</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">IT</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">IT</div> 
            </div>
        </div>
    </div>
    <div class="borderBottom"></div>
    <div class="row">
        <div class="cells blueBg col-md-2 col-lg-2 col-sm-2 col-xs-2">Company</div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Sanofi Aventis US LLC</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Sanofi Aventis US LLC</div> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 flex justify center">
                <div class="cells flex align justify center middle">Sanofi Aventis US LLC</div> 
            </div>
        </div>
    </div>
    <div class="borderBottom"></div>  
    
</div>