<div class="training-list-wrapper">
    <div class="btn-row flex justify right">
        <button class="overdue" style="color: white;">Overdue</button>
        <button class="incomplete">Incomplete</button>
        <button class="upcoming">Upcoming</button>
    </div>
    <div class="title flex justify left align middle">
        <mat-icon>assignment</mat-icon>
        <div>My Trainings</div>
    </div>
    <div>
        <div class="panels flex width100">
            <div class="left" style="width: 80%;">
                <div class="head ellipsis">US Code of Ethics Training and Annual Disclosure</div>
                <div class="desc">For each training owned, Training Owners will be able to access a set of analytics (dependent upon what is available in iLearn), download these to MS Excel and initiate the reconciliation process (more details below). Training Owners will also be able to enable email reminders to users assigned their training, who have not yet completed.</div>
                <div>
                    <mat-icon>people</mat-icon>
                    <div>Four of your co-workers are enrolled to this training</div>
                </div>
            </div>
            <div class="right" style="width: 20%;"></div>
        </div>
    </div>

</div>