<div class="quesViewWrap">
    <div class="contentWrap">
        <div class="headWrap">
            Welcome Christie! Please answer the following questions:
        </div>
        <div class="quesCont" *ngFor = "let ques of questions; let i = index;">
            <div class="flex align middle justify space-bw">
                <div class="flex align middle justify left">
                    <div class="slNo flex align middle justify center">{{ i + 1}}</div>
                    <div class="ques">{{ ques.question }}</div>
                </div>
                <div class="info">
                    <img src="../../assets/images/info.png" alt="">
                </div>
            </div>
            <div class="options">
                <mat-radio-group>
                    <mat-radio-button *ngFor="let option of ques.options" [value]="option">
                        {{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="flex align middle justify center">
            <div class="proceed flex align middle justify center" routerLink="/dashboard/home">PROCEED</div>
        </div>
    </div>
</div>
