<div class="user-menu-wrapper">
    <div class="img flex align middle justify center" style="height: 30%; position: relative;">
        <img src="../../../assets/icons/1.png" alt="" srcset="" *ngIf="manager == 'manager'">
        <img src="../../../assets/images/manager.PNG" alt="" srcset="" *ngIf="manager =='trainer'">
        <img src="../../../assets/icons/3.png" alt="" srcset="" *ngIf="manager =='trainee'">
    </div>
    <div class="btn-wrapper">
        <div class="flex align middle list" matRipple *ngFor="let menu of menuList;let i=index;"
         [ngClass]="{'selected': menu.isSelected }" 
         (click)="menuSelected(menu)">
            <mat-icon>{{ menu.icon_name }}</mat-icon>
            <span>{{ menu.label }}</span>
        </div>
    </div>
</div>