.user-menu-wrapper{
    width: 100%;
    height: 100%;
    .list { 
        color: gray;
        font-size: 0.9vw;
        min-height: 6vh;
    }
}
.img img{
    width: 20vh;
}
.verifiedIcon {
    position: absolute;
    top: 25vh;
    left: 9vw;
    img{
        width: 2vw;
    }
}
.btn-wrapper{
    // padding-left: 2vw;
    width: 100%;
    height: 60%;
}
.btn-wrapper div{
    cursor: pointer;
    padding: 12px;
    padding-left: 2vw;
    border-radius: 10px;
    mat-icon{
        margin-right: 1vw;
        font-size: 1.5vw;
    }
    &.selected{
        background: #eef3f6;
        color: #444b80;
    }
} 
