<div class="trainings-container">
    <div class="training-content">
        <div class="training-card">
            <div class="card-title flex align middle justify space-bw">
                MY TRAINING
                <button class="back-btn" style="font-size: 0.6em;" routerLink="../trainings"> Back</button>
            </div>
            <div class="card-content flex-center">
                <div class="training-details">
                    <div class="details-header">
                        Training Details
                    </div>
                    <div class="details-list">
                        <div class="details-item">
                            <span class="details-key">Name</span>
                        </div>
                        <div class="details-item align-left">
                            <span class="details-val"> {{ selectedtraining.training_name }} </span>
                        </div>
                    </div>
                    <div class="details-list">
                        <div class="details-item">
                            <span class="details-key">Mode Of Training</span>
                        </div>
                        <div class="details-item align-left">
                            <span class="details-val">Video + Test</span>
                        </div>
                    </div>
                    <div class="details-list">
                        <div class="details-item">
                            <span class="details-key">Length Of Training</span>
                        </div>
                        <div class="details-item align-left">
                            <span class="details-val"> {{ selectedtraining.length_of_training }} </span>
                        </div>
                    </div>
                    <div class="details-list">
                        <div class="details-item">
                            <span class="details-key">Training Tool</span>
                        </div>
                        <div class="details-item align-left">
                            <span class="details-val ">iLearn</span>
                        </div>
                    </div>
                    <div class="details-list">
                        <div class="details-item">
                            <span class="details-key">Start/Launch Date</span>
                        </div>
                        <div class="details-item align-left">
                            <span class="details-val "> {{ selectedtraining.start_date }} </span>
                        </div>
                    </div>
                    <div class="details-list">
                        <div class="details-item">
                            <span class="details-key">Last 24 Hours</span>
                        </div>
                        <div class="details-item align-left">
                            <span class="details-val ">24 Learners</span>
                        </div>
                    </div>
                </div>
                <div class="trainer-details">
                    <div class="user-details">
                        <div class="trainer-profile">
                            <div class="trainer-profile-header">
                                <span>Trainer Details</span>
                            </div>
                            <div class="trainer-profile-body">
                                <div class="pic-secion">
                                    <img [src]="'assets/icons/'+selectedtraining.dp" alt="trainer-pic">
                                </div>
                                <div class="name-section">
                                    <span class="trainer-name">{{ selectedtraining.trainer_name }}</span>
                                    <span class="designation">HIPA Security Specialist</span>
                                </div>
                            </div>
                        </div>
                        <div class="mail-box">
                            <img src="../../assets/images/Group 1100.svg" alt="trainer-pic">
                        </div>
                    </div>
                    <div class="training-desc">
                        <div class="training-desc-heading">
                            <div class="title">
                                <span>Training Description</span>
                            </div>
                        </div>
                        <div class="training-desc-content">
                            
                                <span class="secondary-heading">To educate employees about various promotion techniques</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore laboriosam minus repellendus alias optio ex excepturi voluptatibus maxime amet accusamus. Molestiae repudiandae ad officiis velit similique eum temporibus deserunt esse?</p>
                            
                          
                        </div>
                        <div class="butten-section">
                            <button class="success">START TRAINING</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-content"></div>
</div>
