.mainWrap{
    padding: 3vw;
    .tabContainer{
        .tabcontentWrap{
            padding: 1vw;
            height: 55vh;
            max-height: 87vh;
            overflow-y: auto;
        }
        button {
            margin: 0 1vw;
        }
    }
}