.mainWrap{
    height: 87vh;
    padding: 1vw;
    .tabContainer{
        box-shadow: 1px 1px 5px gray;
        .tabcontentWrap{
            padding: 1vw;
            height: 55vh;
            max-height: 87vh;
            overflow-y: auto;
        }
        button {
            margin: 0 1vw;
        }
    }
}