<div class="trainings-container">
    <div class="training-content">
        <div class="training-container">
            <div class="header-section">
                <div class="sub-title-section">
                    <span>
                        MY TEAM's TRAININGS
                    </span>
                </div>
                <div class="title-button-section">
                    <button class="overdue"> OVERDUE</button>
                    <button class="incomplete"> INCOMPLETE</button>
                </div>
            </div>
            <div class="calender-section">
                <div class="month-sec box-card">
                    <div class="month-year-sec">
                        <span>MAY 2020</span>
                    </div>
                    <div class="week-sec">
                        <div class="date-sec">
                            <span class="day">MON</span>
                            <span class="date">11</span>
                        </div>
                        <div class="date-sec">
                            <span class="day">TUE</span>
                            <span class="date">11</span>
                        </div>
                        <div class="date-sec yellow-active">
                            <span class="day">WED</span>
                            <span class="date">11</span>
                        </div>
                        <div class="date-sec">
                            <span class="day">THU</span>
                            <span class="date">11</span>
                        </div>
                        <div class="date-sec">
                            <span class="day">FRI</span>
                            <span class="date">11</span>
                        </div>
                    </div>
                    <div class="big-date-sec flex-center">
                        <div class="date-no flex-center">
                            <span>10</span>
                        </div>
                        <div class="due-date flex-center">
                            <span class="date-icon">
                                <span class="material-icons">
                                    schedule
                                </span>
                            </span>
                            <span class="date-desc">
                                Due Today
                            </span>
                        </div>
                    </div>
                </div>
                <div class="day-sec box-card flex-center">
                    <div class="date-indicator">
                        <div class="lime"></div>
                    </div>
                    <div class="date-disp flex-center">
                        <span>23</span>
                    </div>
                    <div class="date-status">
                        <span>Completed</span>
                    </div>
                </div>
                <div class="day-sec box-card flex-center">
                    <div class="date-indicator">
                        <div class="yellow"></div>
                    </div>
                    <div class="date-disp flex-center">
                        <span>13</span>
                    </div>
                    <div class="date-status">
                        <span>In Progress</span>
                    </div>
                </div>
                <div class="day-sec box-card flex-center">
                    <div class="date-indicator">
                        <div class="red"></div>
                    </div>
                    <div class="date-disp flex-center">
                        <span>17</span>
                    </div>
                    <div class="date-status">
                        <span>Overdue</span>
                    </div>
                </div>
            </div>
            <div class="team-member-section">
                <div class="team-member-card red-card" *ngFor="let member of teamMembers">
                    <div class="member-section flex-center">
                        <div class="profile-pic">
                            <img [src]="member.img_url" alt="profile-pic">
                        </div>
                        <div class="member-name">
                            <div class="name">
                                <span>{{member?.name}}</span>
                            </div>
                            <div class="desig">
                                <span [matTooltip]="member?.desig">{{member?.desig}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-section flex-center">
                        <div class="emp-icon flex-center">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="title flex-center">
                                <span>Employee Info</span>
                            </div>
                        </div>
                        <div class="training-button-sec flex-center">
                            <button class="training"> Trainings</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="team-member-card red-card">
                    <div class="member-section flex-center">
                        <div class="profile-pic">
                            <img src="../../assets/icons/1.png" alt="profile-pic">
                        </div>
                        <div class="member-name">
                            <div class="name">
                                <span>TOBIAS MORRISEY</span>
                            </div>
                            <div class="desig">
                                <span>Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-section flex-center">
                        <div class="emp-icon flex-center">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="title flex-center">
                                <span>Employee Info</span>
                            </div>
                        </div>
                        <div class="training-button-sec flex-center">
                            <button class="training"> Trainings</button>
                        </div>
                    </div>
                </div>
                <div class="team-member-card red-card">
                    <div class="member-section flex-center">
                        <div class="profile-pic">
                            <img src="../../assets/icons/1.png" alt="profile-pic">
                        </div>
                        <div class="member-name">
                            <div class="name">
                                <span>TOBIAS MORRISEY</span>
                            </div>
                            <div class="desig">
                                <span>Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-section flex-center">
                        <div class="emp-icon flex-center">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="title flex-center">
                                <span>Employee Info</span>
                            </div>
                        </div>
                        <div class="training-button-sec flex-center">
                            <button class="training"> Trainings</button>
                        </div>
                    </div>
                </div>
                <div class="team-member-card red-card">
                    <div class="member-section flex-center">
                        <div class="profile-pic">
                            <img src="../../assets/icons/1.png" alt="profile-pic">
                        </div>
                        <div class="member-name">
                            <div class="name">
                                <span>TOBIAS MORRISEY</span>
                            </div>
                            <div class="desig">
                                <span>Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-section flex-center">
                        <div class="emp-icon flex-center">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="title flex-center">
                                <span>Employee Info</span>
                            </div>
                        </div>
                        <div class="training-button-sec flex-center">
                            <button class="training"> Trainings</button>
                        </div>
                    </div>
                </div>
                
                <div class="team-member-card purple-card">
                    <div class="member-section flex-center">
                        <div class="profile-pic">
                            <img src="../../assets/icons/1.png" alt="profile-pic">
                        </div>
                        <div class="member-name">
                            <div class="name">
                                <span>TOBIAS MORRISEY</span>
                            </div>
                            <div class="desig">
                                <span>Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-section flex-center">
                        <div class="emp-icon flex-center">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="title flex-center">
                                <span>Employee Info</span>
                            </div>
                        </div>
                        <div class="training-button-sec flex-center">
                            <button class="training"> Trainings</button>
                        </div>
                    </div>
                </div> 
                <div class="team-member-card purple-card">
                    <div class="member-section flex-center">
                        <div class="profile-pic">
                            <img src="../../assets/icons/1.png" alt="profile-pic">
                        </div>
                        <div class="member-name">
                            <div class="name">
                                <span>TOBIAS MORRISEY</span>
                            </div>
                            <div class="desig">
                                <span>Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-section flex-center">
                        <div class="emp-icon flex-center">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="title flex-center">
                                <span>Employee Info</span>
                            </div>
                        </div>
                        <div class="training-button-sec flex-center">
                            <button class="training"> Trainings</button>
                        </div>
                    </div>
                </div>
                <div class="team-member-card red-card">
                    <div class="member-section flex-center">
                        <div class="profile-pic">
                            <img src="../../assets/icons/1.png" alt="profile-pic">
                        </div>
                        <div class="member-name">
                            <div class="name">
                                <span>TOBIAS MORRISEY</span>
                            </div>
                            <div class="desig">
                                <span>Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-section flex-center">
                        <div class="emp-icon flex-center">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="title flex-center">
                                <span>Employee Info</span>
                            </div>
                        </div>
                        <div class="training-button-sec flex-center">
                            <button class="training"> Trainings</button>
                        </div>
                    </div>
                </div>
                <div class="team-member-card purple-card">
                    <div class="member-section flex-center">
                        <div class="profile-pic">
                            <img src="../../assets/icons/1.png" alt="profile-pic">
                        </div>
                        <div class="member-name">
                            <div class="name">
                                <span>TOBIAS MORRISEY</span>
                            </div>
                            <div class="desig">
                                <span>Executive</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-section flex-center">
                        <div class="emp-icon flex-center">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="title flex-center">
                                <span>Employee Info</span>
                            </div>
                        </div>
                        <div class="training-button-sec flex-center">
                            <button class="training"> Trainings</button>
                        </div>
                    </div>
                </div>                -->
            </div>
        </div>
    </div>
    <div class="empty-content"></div>
</div>
