.dashboard-wrapper {
  height: 87vh;
  max-height: 87vh;
//   box-shadow: 1px 1px 5px gray;
//   padding: 1vh 1vw;
}
.left-menu{
    width: 16vw;
    height: 100%;
}
.right-area{
    width: 80vw;
    height: 100%;
}
