.mainWrap{
    height: 85vh;
    padding: 1vw;
    overflow-y: auto;

    .tabContainer{
        height: 80vh;
        max-height: 80vh;
        overflow-y: auto;
        box-shadow: 1px 1px 5px gray;
        padding: 1vh 1vw;
    }
}