<div class="mainWrap">
    <div class="tabContainer">
        <div class="analyticsViewWrap">
            <div class="headWrap">
                <div class="bold" style="letter-spacing: 0.1vw;">Analytics <span style="color: #707070;">- US Training
                        on Promotion</span></div>
            </div>
            <div class="bodyWrap row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="chartHolder col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="chartBody col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="bold" style="font-size: 1.5vw;">2.7K</div>
                                <div style="margin: 1vh 0;">Avg Sessions</div>
                                <div style="margin: 3vh 0; font-size: 1vw;"><span style="color: #00BF0F;">+5.2%</span>
                                    vs last 7 days</div>
                                <div class="viewDets flex align middle justify center">
                                    <div> View Details</div>
                                    <img src="../../assets/images/right-arrows.PNG" alt=""
                                        style="height: 1.5vh; padding-left: 0.5vw;">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="flex justify right align middle">
                                    <div>Last 7 days</div>
                                    <img src="../../assets/images/down-arrow.png" alt="" style="height: 2vh;">
                                </div>
                                <img src="../../assets/images/bar-chart.PNG" alt="" width="100%">
                            </div>
                        </div>
                        <div class="chartFooter col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">Completed Trainings: 1000
                                </div>
                                <div class="progressWrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <div class="progress lightgreen"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">Users: 1020</div>
                                <div class="progressWrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <div class="progress amber"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">Retention: 90%</div>
                                <div class="progressWrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <div class="progress purple"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">Passed: 890</div>
                                <div class="progressWrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <div class="progress green"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="chartHolder col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <img src="../../assets/images/anal-two-user.PNG" alt="" style="height: 10vh;">
                        <div class="bold col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            style="font-size: 1.5vw; margin-top: 4vh;">9.6k</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 1vw; margin-top: 1.5vh;">
                            Total Trainees (Lifetime)</div>
                        <img src="../../assets/images/area-chart.PNG" alt="" style="width: 100%; margin-top: 5vh;">
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div
                        class="chartHolder col-lg-12 col-md-12 col-sm-12 col-xs-12 flex justify space-bw align middle dirColumn">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex justify center align middle">
                            <img src="../../assets/images/multi-donut.PNG" alt="" style="height: 30vh;">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="legendWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 flex align middle justify left">
                                    <div class="circle bor-blue"></div>
                                    <div>Finished</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">3043</div>
                            </div>
                            <div class="legendWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 flex align middle justify left">
                                    <div class="circle bor-amber"></div>
                                    <div>Incomplete</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">1465</div>
                            </div>
                            <div class="legendWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 flex align middle justify left">
                                    <div class="circle bor-red"></div>
                                    <div>Overdue</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">358</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="chartHolder col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>TOOL</th>
                                    <th>ASSIGNED DATE</th>
                                    <th>DUE DATE</th>
                                    <th>COMPLETION DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of [1,2,3,4,5,6,7]">
                                    <td>iLearn.com</td>
                                    <td>2020-06-22</td>
                                    <td>2020-12-07</td>
                                    <td>2021-01-20</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>